footer {
  padding: 16px;
  border-top: 1px solid #41404233;

  .next-btn {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #101010;
    background-color: #CFCFCF;
    border: none;
    padding: 6px 28px;
  }
}
