@media (max-width:767px) {
  .page-header {
    margin: 26px 0;

    img {
      margin-right: 16px;
    }

    h6 {
      font-family: Roboto;
      font-weight: 600;
      letter-spacing: 0;
      margin: 0;
      // font-size: 16px;
      // font-style: normal;
      // line-height: 19px;
    }
  }
}
