<app-navbar></app-navbar>
<section class="kyc-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        Favourite Color : 
        <select class="kyc-doc" name="colors" id="color">
          <option value="volvo">Red</option>
          <option value="saab">Violet</option>
          <option value="mercedes">Blue</option>
          <option value="audi">Green</option>
        </select>
        Favourite Color : 
        <select class="kyc-doc" name="colors" id="color">
          <option value="volvo">Red</option>
          <option value="saab">Violet</option>
          <option value="mercedes">Blue</option>
          <option value="audi">Green</option>
        </select>
        Favourite Color : 
        <select class="kyc-doc" name="colors" id="color">
          <option value="volvo">Red</option>
          <option value="saab">Violet</option>
          <option value="mercedes">Blue</option>
          <option value="audi">Green</option>
        </select>
      </div>
      <div class="col-md-12">
        <input type="checkbox" name="address" id="">Is the communication address same as that mentioned on Aadhaar?
      </div>
      <div class="col-md-12">
        <!-- Button trigger modal -->
        <p class="consent-modal-descrip" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Click here and accept Aadhaar Consent
        </p>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h3 class="consent-title">Aadhaar card consent</h3>
                <p class="consent-descrip">
                    When PAN is allotted to an entity, PAN Card too is given by the Income Tax Department. While PAN is a number, PAN Card is a physical card that has your PAN as well as name, date of birth (DoB), and photograph. Card too is given by the Income Tax Department. While PAN is a number, PAN Card is a physical card 
                </p>
              </div>
              <div class="modal-footer justify-content-center border-0">
                <button type="button" class="btn btn-primary w-100">Accept</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>